/*背景初始化*/
body {
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
  height: 100%;
  background: url(images/brokenship.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /*背景平铺*/
  font-family: Kaiti;
  text-align: center;
}
#box1 p {
  font-size: 150px;
  letter-spacing: 30px;
}
.box1_2 {
  font-size: 40px;
}
.box1_2 dt {
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.box1_2 dt:hover {
  text-decoration: none;
  color: #fa3;
}

/*模式选择*/
#box2 {
  display: none;
}
#box2 div {
  font-size: 120px;
}
#box2 p {
  letter-spacing: 45px;
  color: white;
}
#box2 dt {
  height: 90px;
  width: 400px;
  font-size: 50px;
  margin: 25px auto;
  color: white;
  background-color: rgb(60%, 60%, 60%, 0.6);
  border-radius: 30px;
  line-height: 1.8em;
  cursor: pointer;
}
#box2 dt:hover {
  color: #40c;
}

/*总分排名*/
#box3 {
  display: none;
}
#box3 dt {
  width: 436px;
  height: 50px;
  font-size: 40px;
  border-style: solid;
  float: left;
  color: black;
  font-family: '粗体';
  font-weight: bold;
}
#box3 p {
  letter-spacing: 45px;
  color: black;
  font-size: 70px;
  margin-top: 10px;
}
#box3_1 dl {
  border-style: solid;
  border-color: white;
}

/*请求帮助*/
#box4 {
  display: none;
}
#box4 p {
  letter-spacing: 45px;
  font-size: 70px;
  margin-top: 10px;
}
#box4 textarea {
  line-height: 40px;
  text-align: center;
  color: white;
  width: 1200px;
  height: 430px;
  font-size: 25px;
  font-weight: bold;
  background: url(images/blackboard.png);
  border-color: #0ff;
  border-width: 2px;
}
#button1 {
  width: 70px;
  height: 70px;
  background: url(images/exit1.png);
  background-size: 70px 70px;
  position: absolute;
  left: 15px;
  top: 15px;
}
#button2 {
  width: 70px;
  height: 70px;
  background: url(images/exit1.png);
  background-size: 70px 70px;
  position: relative;
  left: 15px;
  top: 15px;
}
#button3 {
  width: 70px;
  height: 70px;
  background: url(images/exit1.png);
  background-size: 70px 70px;
  position: relative;
  left: 15px;
  top: 15px;
}
/*游戏模块*/
#paopao {
  display: none;
}
#paopao_time {
  width: 200px;
  height: 90px;
  background: red;
}
#again {
  background-color: red;
  position: absolute;
  top: 500px;
  left: 1200px;
  border-style: solid;
  border-color: red;
}
#exit2 {
  background-color: red;
  position: absolute;
  top: 535px;
  left: 1200px;
  border-style: solid;
  border-color: red;
}
